/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    /* Dark background color */
    color: #eee;
    /* Light text color */
    overflow: hidden;
    /* Prevent scrolling */
}

header {
    background-color: #333;
    /* Dark header background color */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    /* Align children vertically */
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    /* Set height to 100% of viewport height */
    overflow: hidden;
    /* Prevent scrolling */
}

.server {
    margin: 20px;
    padding: 20px;
    background-color: #444;
    /* Dark server background color */
    border-radius: 10px;
    text-align: center;
}

.server h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.status {
    font-size: 1.2em;
}

#serverZ .status {
    color: green;
}

/* CSS for unvisited links */
.server-link:link {
    color: white;
    /* White text color for unvisited links */
}

/* CSS for visited links */
.server-link:visited {
    color: orange;
    /* Orange text color for visited links */
}